body{
    background-color: #000000;
background-image: url('https://assets-prd.ignimgs.com/2021/10/14/demonslayer-art-1634244394273.png?width=300');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
h1{
    color: rgb(0, 89, 255);
}